 /* Dropdown Button */


body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.titulo {
  
  font-weight: bold;
}



 
.pideo {
  padding: 50px 230px
}

.form-signin {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    margin: auto;    
    position: absolute;
    right: 0px;
    top: 50px;
}


.img-login {
  width: 35%;
  position: absolute;
  right: 50px;
  top: 0px;

}


.video-post { 
  position: relative;

}

.img-login-setpw {
  width: 35%;
  position: absolute;
  right: 30px;
  top: 0px;

}

.img-login-settoken {
  width: 35%;
  position: absolute;
  right: 30px;
  top: 0px;

}

.logo-tamandua {
  width: 60%;
}


.nav2 {
background-color: #8d9da6;

}


.dropbtn {
  background-color: #6c757d;
  color: white;
  
  font-size: 22px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

