<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  

  <div class="collapse navbar-collapse  justify-content-md-center" id="navbarsExample08">
    <ul class="navbar-nav ">
      <div id="mySidenav" class="sidenav">        
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <br>
        <br>
        <a href="#">Material de 1°</a>
        <a href="#">Material de 2°</a>
        <a href="#">Material de 3°</a>
        <a href="#">Material de 4°</a>
        <a href="#">Material de 5°</a>
        <a href="#">Material de 6°</a>
      </div>
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

      <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      </script>
      <a  href="{{ url_for('home') }}"><img class="logo-tamandua" src="/static/tamandua.jpeg"/> </a>
      <li class="nav-item active">
        <li class="nav-item dropdown">
          <div class="dropdown">
            <button class="dropbtn titulo">Sitio Tamandua</button>            
          </div>  
        </li>     
      <li class="nav-item boton">
        <a class="nav-link" href="{{url_for('home')}}"><button type="button" class="btn btn-info">Aula Virtual</button></a>
      </li>  
      <li class="nav-item boton">
        <a class="nav-link" href="#"> <button type="button" class="btn btn-info">Foro</button></a>
      </li> 
      <li class="nav-item boton">
        <a class="nav-link" href="#"><button type="button" class="btn btn-info">Servicios</button></a>
      </li> 
      <li class="nav-item boton">
        <a class="nav-link" href="#"><button type="button" class="btn btn-info">Noticias</button></a>
      </li>           
      <li class="nav-item boton">
        <a class="nav-link" href="#"><button type="button" class="btn btn-info">Contacto</button></a>
      </li> 
        {% if current_user.is_authenticated %}
            <li class="nav-item boton">
              <a class="nav-link" href="{{url_for('new_post')}} "><button type="button" class="btn btn-info">Nuevo Video</button></a>
            </li>             
            <li class="nav-item boton">
              <a class="nav-link" href="{{url_for('account')}} "><button type="button" class="btn btn-info">Mi cuenta</button></a>
            </li> 
            <li class="nav-item boton">
              <a class="nav-link" href="{{url_for('logout')}} "><button type="button" class="btn btn-info">Cerrar Sesion</button></a>
            </li> 
        {% else %}
            <li class="nav-item boton">
              <a class="nav-link" href=" {{url_for('register')}} "><button type="button" class="btn btn-info">Registrarse</button></a>
            </li> 
            <li class="nav-item boton">
              <a class="nav-link" href="{{url_for('login')}} "><button type="button" class="btn btn-info">Iniciar Sesion</button></a>
            </li> 
        {% endif %}
       
    </ul>
      
  </div>
</nav>